body {
  font-family: "Archivo", sans-serif;
  color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: "Archivo", sans-serif;
  border: 1px solid black;
  background-image: url(../img/stripes.jpg);
  background-size: cover;
  width: auto;
}

h1 {
  border: 5px solid black;
  border-radius: 100px;
  padding: 0px 10px 0 10px;
  background-color: white;
  font-size: 30px;
  margin: 0px;
  font-family: "Archivo", sans-serif;
  font-weight: 200px;
  width: auto;
  color: black;
}

.logo-left {
  display: inline;
  height: 50px;
  width: 50px;
  margin: 10px;
  border: 5px solid black;
  border-radius: 100px;
  padding: 5px 5px 0px 5px;
  background-color: white;
}

.logo-right {
  display: none;
}

.menu-control {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 100px;
  background-color: white;
}

.controls {
  position: relative;
  top: 0;
  right: 0;
}

.menu-control {
  fill: #fff;
  margin: 10px;
}

.menu {
  background-color: rgb(4, 4, 4);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  overflow-y: scroll;
  padding: 15px 30px;
  position: fixed;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
}

.menu-open {
  transform: translateX(0%);
  opacity: 1;
}

.menu a, .menu a:focus, .menu a:visited {
  color: white;
  display: block;
  font-size: 20px;
  margin: 25px auto;
  text-align: center;
  text-decoration: none;
  
}

.menu-close {
  background-color: white;
  color: darkred;
}

.kit {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

#switcher {
  list-style: none;
  margin: 5px;
  padding: 0;
  overflow: hidden;
}
#switcher li {
  float: left;
  width: 30px;
  height: 30px;
  margin: 0 70px 0px 70px;
  border-radius: 30px;
  border: 3px solid grey;
}

#whiteButton {
  background: white;
  color: white;
}
#blackButton {
  background: black;
  color: black;
}

.selector,
.selector-p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.home {
  margin: 0 65px 0 0;
}

.away {
  margin: 0 0 0 65px;
}

.mobile-logo-div {
  display: flex;
  justify-content: center;
}

.mobile-logo {
  width: 80%;
}

.carousel {
  display: none;
}

.squad-header {
  text-align: center;
  font-size: 50px;
  font-weight: 40px;
  margin: 20px;
  text-decoration: underline;
}

.gosling,
.simpson,
.fennelly,
.aron,
.gdeyu,
.katanchian,
.almond,
.gilbertson,
.downing {
  width: auto;
  height: 200px;
  text-align: center;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  margin: 20px;
  background-size: cover;
  background-position: center;
}

.gosling {
  background-image: url(../img/Gosling.jpg);
}

.simpson {
  background-image: url(../img/Simpson.jpg);
}

.fennelly {
  background-image: url(../img/Fennelly.jpg);
}

.aron {
  background-image: url(../img/Aron.jpg);
}

.gdeyu {
  background-image: url(../img/Gdeyu.jpg);
}

.katanchian {
  background-image: url(../img/Katanchian.jpg);
}

.almond {
  background-image: url(../img/Almond.jpg);
}

.gilbertson {
  background-image: url(../img/Gilbertson.jpg);
}

.downing {
  background-image: url(../img/Downing.jpg);
}

.info {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standings,
.twitter,
.fixtures {
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  width: 90%;
}

.info-h {
  font-style: italic;
}

.info-header-icon {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.fa-twitter-square,
.fa-chart-bar,
.fa-futbol {
  font-size: 40px;
}

.info-img {
  width: 100%;
  height: 100%;
}

.forms {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px 50px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  width: auto;
}

.trial-button {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: white;
  background-color: black;
  text-align: center;
  font-size: 24px;
  padding: 10px 30px;
  border-bottom: 2px solid #3b3a3a;
  margin: 10px;
  border-radius: 5px;
  transition: 1000ms;
}

.trial-button:hover {
  background: darkslategray;
}

.trialModal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  font-size: 25px;
}

.trial-modal-header {
  color: white;
  background-color: black;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 28px;
}

.trial-modal-body {
  color: black;
  background-color: white;
  padding: 20px;
  font-size: 15px;
}

.trial-modal-content {
  background-color: white;
  width: 70%;
  height: auto;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
  animation-name: modalopen;
  animation-duration: 0.75s;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: left;
}

.trialCloseBtn {
  transition: 700ms;
}

.trialCloseBtn:hover, .trailCloseBtn:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.form-row {
  padding: 10px 2px 10px 2px;
  margin: 5px;
}

footer {
  font-family: "Archivo", sans-serif;
  border: 1px solid black;
  background-image: url(../img/stripes.jpg);
  background-size: cover;
  width: 100%;
}

.footer-text {
  border: 5px solid black;
  border-radius: 100px;
  padding: 0px 20px 0 20px;
  background-color: white;
  font-size: 15px;
  font-family: "Archivo", sans-serif;
  font-weight: 100px;
  text-align: center;
  margin: 5px;
}

@media (min-width: 480px) {
  body {
    font-family: "Archivo", sans-serif;
    color: black;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Archivo", sans-serif;
    border: 1px solid black;
    background-image: url(../img/stripes.jpg);
    background-size: cover;
  }

  h1 {
    border: 5px solid black;
    border-radius: 100px;
    padding: 0px 20px 0 20px;
    background-color: white;
    font-size: 50px;
    margin: 0px;
    font-family: "Archivo", sans-serif;
    font-weight: 200px;
  }

  .logo-left,
  .logo-right {
    display: inline;
    height: 100px;
    width: 100px;
    margin: 10px;
    border: 5px solid black;
    border-radius: 100px;
    padding: 5px 5px 0px 5px;
    background-color: white;
  }

  .controls {
    display: none;
  }

  .kit {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
  }
  #switcher {
    list-style: none;
    margin: 5px;
    padding: 0;
    overflow: hidden;
  }
  #switcher li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 70px 0px 70px;
    border-radius: 30px;
    border: 3px solid grey;
  }
  
  #whiteButton {
    background: white;
    color: white;
  }
  #blackButton {
    background: black;
    color: black;
  }
  
  .selector,
  .selector-p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  
  .home {
    margin: 0 65px 0 0;
  }
  
  .away {
    margin: 0 0 0 65px;
  }

  .mobile-logo {
    display: none;
  }

  .menu-control {
    display: none;
  }

  .carousel {
    display: contents;
  }
  .squad-header {
    text-align: center;
    font-size: 50px;
    font-weight: 40px;
    margin: 50px;
    text-decoration: underline;
  }
  .squad-row-one,
  .squad-row-two,
  .squad-row-three {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
  }

  .gosling,
  .simpson,
  .fennelly,
  .aron,
  .gdeyu,
  .katanchian,
  .almond,
  .gilbertson,
  .downing {
    width: 250px;
    height: 200px;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
    margin: 20px;
    background-size: cover;
    background-position: center;
  }

  .gosling {
    background-image: url(../img/Gosling.jpg);
  }

  .simpson {
    background-image: url(../img/Simpson.jpg);
  }

  .fennelly {
    background-image: url(../img/Fennelly.jpg);
  }

  .aron {
    background-image: url(../img/Aron.jpg);
  }

  .gdeyu {
    background-image: url(../img/Gdeyu.jpg);
  }

  .katanchian {
    background-image: url(../img/Katanchian.jpg);
  }

  .almond {
    background-image: url(../img/Almond.jpg);
  }

  .gilbertson {
    background-image: url(../img/Gilbertson.jpg);
  }

  .downing {
    background-image: url(../img/Downing.jpg);
  }

  .info {
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
    flex-direction: row;
  }

  .standings,
  .twitter,
  .fixtures {
    border: 3px solid black;
    border-radius: 10px;
    margin: 25px 50px;
    object-fit: contain;
    width: 30%;
  }

  .info-h {
    padding: 5px;
    font-style: italic;
  }

  .info-header-icon {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .info-img {
    width: 100%;
    height: 100%;
  }

  .fa-twitter-square,
  .fa-chart-bar,
  .fa-futbol {
    font-size: 40px;
  }

  .forms {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 25px 50px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
    width: auto;
  }

  .trial-button {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 24px;
    padding: 10px 30px;
    border-bottom: 2px solid #3b3a3a;
    margin: 10px;
    border-radius: 5px;
    transition: 1000ms;
  }
  
  .trial-button:hover {
    background: darkslategray;
  }

  .trialModal {
    display: none;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    font-size: 25px;
  }

  .trial-modal-header {
    color: white;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
  }

  .trial-modal-body {
    color: black;
    background-color: white;
    padding: 20px;
    font-size: 15px;
  }

  .trial-modal-content {
    background-color: white;
    width: 70%;
    height: auto;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    animation-name: modalopen;
    animation-duration: 0.75s;
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: left;
  }

 .trialCloseBtn {
    transition: 700ms;
  }

  .trialCloseBtn:hover, .trailCloseBtn:focus {
    color: gray;
    text-decoration: none;
    cursor: pointer;
  }

  .form-row {
    padding: 5px;
  }

  @keyframes modalopen {
    from{opacity: 0}
    to{opacity: 1}
  }

  footer {
    font-family: "Archivo", sans-serif;
    border: 1px solid black;
    background-image: url(../img/stripes.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .footer-text {
    border: 5px solid black;
    border-radius: 100px;
    padding: 20px;
    background-color: white;
    font-size: 15px;
    font-family: "Archivo", sans-serif;
    font-weight: 100px;
    text-align: center;
    width: 60%;
    margin: 25px 5px 25px 5px;
  }
}

@media (max-width: 800px) {
  .info {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .standings,
  .twitter,
  .fixtures {
    border: 3px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    width: 90%;
  }
  
  .info-h {
    font-style: italic;
  }
  
  .info-header-icon {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .fa-twitter-square,
  .fa-chart-bar,
  .fa-futbol {
    font-size: 40px;
  }
  
  .info-img {
    width: 100%;
    height: 100%;
  }
}